* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

.root {
  width: 100%;
  // padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.main-page {
  width: 100%;
}

.select-language-menu {
  a {
    display: block;
  }
}

.welcome__inner {
  width: 360px;
  padding: 25px 15px;
  max-width: 100%;
  text-align: center;

  h1 {
    text-transform: uppercase;
    color: #173480;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    padding-left: 13px;
    padding-right: 15px;
    max-width: 1330px;
    letter-spacing: 3px;
  }
  a {
    width: 100%;
    display: block;
    border: 0;
    outline: 0!important;
    height: 45px;
    border-radius: 18px;
    background-color: #ff9e17;
    margin-top: 19px;
    color: #fff !important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 45px;
    text-decoration: none;
  }
}

.book-start {
  padding-top: 20px;
  width: 50%;
  .banner {
    height: 157px;
    width: 157px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
    object-fit: cover;
  }

  .select-cat {
    &__heading {
      font-family: 'Baskervville', serif;
      color: #404040;
      font-size: 34px;
      text-align: center;
      margin-bottom: 45px;
      font-weight: 900;
    }
  
    &__link {
      cursor: pointer;
      font-weight: 700;
      display: block;
      text-align: center;
      margin-bottom: 25px;
      color: #141821;
      font-family: 'Baskervville', serif;
      font-size: 19px;
      line-height: 19px;
    }
  }
}

.cat-wrapper {
  display: flex;
  width: 100%;
  background-color: white;
  
  .menu-start {
    width: 50%;
    position: fixed;
    height: 100vh;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .flip {
    cursor: pointer;
  }
}

.App-pages {
  width: 100vw;
  min-height: 100vh;
  perspective: 750px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  & > div {
    height: max-content;
  }
}

.category-name {
  font-family: 'Baskervville', serif;
  color: #4f4f4f;
  font-size: 34px;
  width: 50%;
  padding: 0 10px;
}

.subcategory-name {
  font-family: 'Baskervville', serif;
  color: #4f4f4f;
  font-size: 17px;
  font-style: italic;
  width: 25%;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.btn {
  position: fixed;
  top: 50vh;
  z-index: 999;
  background-color: white;
  border: 1px solid black;
}

.button-next {
  right: 20;
}

.button-prev {
  left: 20;
} 